:root {
  // --bs-border-color: var(--gray) !important;
}

$primary: black;
$gray-300: #dce6e8;
$grid-gutter-width: 1rem;
$font-size-base: 16px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1124px,
  //   xxl: 1320px
);

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  //4
  2: $spacer * 0.5,
  //6
  3: $spacer * 0.75,
  //12
  4: $spacer * 1,
  //16
  5: $spacer * 1.25,
  //20
  6: $spacer * 1.5,
  //24
  7: $spacer * 1.75,
  //28
  8: $spacer * 2,
  //32
  9: $spacer * 2.25,
  //36
  10: $spacer * 2.5,
  //40
  11: $spacer * 2.75,
  //44
  12: $spacer * 3,
  //48
);

$form-label-font-size: 14px;
$form-label-font-weight: 600;
$form-label-color: #333333;
$input-border-radius: 4px;
$input-btn-font-size: 18px;
$input-border-color: var(--gray);
$input-padding-y: 0.625rem;
$input-padding-x: 1rem;
$input-line-height: 29px;
$input-font-size: 18px;
$input-font-weight: 400;
$input-placeholder-color: #5f6263;
$input-color: var(--text);
$form-select-padding-y: $input-padding-y;
$form-select-padding-x: $input-padding-x;
$form-select-border-color: $input-border-color;
$form-select-border-radius: $input-border-radius;
$form-select-font-size: $input-font-size;
$form-select-font-weight: $input-font-weight;
$form-select-line-height: $input-line-height;

$form-text-font-size: 18px;
$form-text-font-weight: 400;
$form-text-color: var(--text);

$form-label-font-size: 16px;
$form-label-font-weight: 600;
$form-label-color: var(--text);

$form-check-input-width: 24px;
$form-check-input-checked-bg-color: white;
$form-check-input-checked-color: var(--primary-darker);
$form-check-input-checked-border-color: var(--primary-darker);
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-inline-margin-end: 2rem;
$form-check-input-border: 1px solid var(--primary-darker);
$pagination-bg: transparent;
$component-active-bg: #3d0f58;
$input-btn-focus-color: rgba(#3d0f58, $input-btn-focus-color-opacity);
$pagination-hover-bg: var(--primary);
$pagination-hover-color: white;
$pagination-color: #000;
$pagination-disabled-bg: transparent;
$pagination-focus-box-shadow: none;
$pagination-focus-color: var(--primary);
$pagination-focus-bg: transparent;
$pagination-active-bg: var(--primary-darker);
