@import "./cssvars";
@import "./components/rich-text";
@import "./components/card";
@import "./components/cards";
@import "./components/rich-media";

.grid {
  --col: 1;
  --spacer: 4px;
  --gap-x: var(--spacer);
  --gap-y: var(--spacer);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(var(--1), 1fr);
  &--5 {
    --col: 5;
  }
}
