.signup-banner {
  background-color: $light-orange;
  @include fluid-property("padding-top", 76, $gap-mobile-normal-px);
  @include fluid-property("padding-bottom", 76, $gap-mobile-normal-px);
  @include fluid-property("padding-left", 0, 12);
  @include fluid-property("padding-right", 0, 12);
  margin-top: 0;
  &--flushed {
    padding: 0;
  }

  &__wrapper {
    max-width: 984px;
    align-items: center;
    grid-template-columns: 1fr;
    @include fluid-property("grid-gap", 133, $gap-mobile-small-px);
    display: grid;
    @include media-breakpoint-up(lg) {
      grid-template-columns: auto 1fr;
    }
  }
  &__img {
    justify-self: center;
    @include media-breakpoint-up(lg) {
      justify-self: baseline;
    }
  }
  &--new {
    background-color: #f4e8fe;
    .signup-banner__wrapper {
      display: flex;
      flex-direction: column-reverse;
      @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .signup-banner__img {
      @include media-breakpoint-up(lg) {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .custom-form {
    @include fluid-property("padding-block", 64, 32);
    button[type="submit"] {
      background-color: $primary-dark;
      color: $white;
      &:hover,
      &:focus {
        background-color: $primary;
      }
    }
    .section-head {
      &__heading {
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 42px;
        @include media-breakpoint-up(lg) {
          font-size: 4rem;
          line-height: 44px;
        }
      }

      &__summary {
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 26px;
        color: $text-color;
        @include media-breakpoint-up(lg) {
          font-weight: 400;
          font-size: 2rem;
          line-height: 32px;
        }
      }
    }
    // .freeform-row {
    //   align-items: flex-end;
    //   display: grid;
    //   grid-template-columns: 1fr;
    //   grid-gap: 1.2rem;
    //   @include media-breakpoint-up(lg) {
    //     grid-template-columns: 1fr 1fr auto;
    //     grid-gap: 1.2rem;
    //   }
    // }
    // .freeform-column {
    //   align-self: end;
    //   margin: 0 1.5rem;
    //   @include media-breakpoint-up(lg) {
    //     margin: 0;
    //   }
    //   &:first-child {
    //     @include media-breakpoint-up(lg) {
    //       margin-left: 1.5rem;
    //     }
    //   }
    //   &:last-child {
    //     @include media-breakpoint-up(lg) {
    //       margin-right: 1.5rem;
    //     }
    //   }
    // }
    // .freeform-column.freeform-column-content-align-left {
    //   margin-bottom: 0;
    //   justify-content: flex-end;
    //   margin: 0 1.5rem;
    //   @include media-breakpoint-up(lg) {
    //     margin: 0;
    //     justify-content: flex-end;
    //   }
    //   button {
    //     height: 48px;
    //     display: flex;
    //     justify-content: center;
    //     width: 100%;
    //   }
    // }
  }
}
