// grey scale
$pepper: #737373;
$grey: #cecece;
$light-grey: #f3f4f6;
$vanilla: #fafafa;
$graynew: #54575b;

// BS Colours
$success: #0cac78;
$info: #00bfe9;
$warning: #f69900;
$danger: #ff635c;
$footer-background: #eef7fd;

// theme colours
$yellow: #ffc226;
$purple-dark: #3d0f58;
$purple: #662d91;
$purple-light: #e0c9f6;
$primary-light: $purple-light;
$primary-dark: $purple-dark;

$primary: $purple;
$orange: #f2652c;
$secondary: $orange;
$cream-main: #f8f3ed;
$blue: #6faedf;
$green: #005e51;
$alternative: $blue;
$light-yellow: #ffed9a;
$light-orange: #fbc4a7;
$light-blue: #c4daf1;
$light-green: #b7d8e2;
$cream: #f2e8da;
$black-with-opacity: $orange;
$dark-blue: #2c3e90;
$dark-sky-blue: #4b97d9;
$text-color: #383c3d;
$carcoal: #3d3935;
// forms
$inputs: #8f8f8f;
$input-disabled: #f9fafb;
$input-stroked: #c4c4c5;
$placeholder: #737373;
$error: #b63805;
