.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 33px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  white-space: nowrap;

  &--link {
    padding: 0 !important;
    background: transparent !important;
    color: var(--primary-darker) !important;
    text-decoration: underline;
    border: 0;
    &:hover {
      background: transparent !important;
      color: var(--primary) !important;
      text-decoration: none;
    }
  }

  &--small {
    line-height: 19px;
    padding: 14px 24px;
  }

  &--primary-light {
    background: var(--primary-light);
    color: var(--primary-darker);
    border: 0;
    &:hover {
      background: var(--primary);
      color: white;
    }
  }

  &--primary {
    background: var(--primary-darker);
    color: white;
    border: 0;
    &:hover {
      background: var(--primary);
      color: white;
    }
  }

  &--primary-outline {
    border: 2px solid var(--primary-darker);
    background: transparent;
    color: var(--primary-darker);
    &:hover {
      color: white;
    }
  }

  &--white-outline {
    border: 2px solid white !important;
    background: transparent;
    color: white;
    &:hover {
      background-color: var(--primary);
    }
  }

  &__group {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      gap: 16px;
    }
    .btn {
      margin: 0;
    }
  }
  &--inline-wide {
    padding-inline: 24px;
    @media (min-width: 768px) {
      padding-inline: 58px;
    }
  }
}
