.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 150px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  white-space: nowrap;
  line-height: 1.6;
  gap: 12px;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(61, 15, 88, 0.1) !important;
  }
  &:focus-visible {
    outline-color: var(--primary-light);
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: var(--primary-darker);
    }
  }

  svg {
    width: 2em;
    height: 2em;
  }
  img {
    width: 1em;
    height: 1em;
  }

  &--link {
    padding: 0 !important;
    background: transparent !important;
    color: var(--primary-darker) !important;
    text-decoration: underline;
    border: 0;
    &:hover {
      background: transparent !important;
      color: var(--primary) !important;
      text-decoration: none;
    }
  }

  &--small {
    padding: 14px 24px;
    height: 47px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &--primary-light {
    background: var(--primary-light);
    color: var(--primary-darker);
    border: 0;
    &:hover {
      background: var(--primary);
      color: white;
    }
  }

  &--primary {
    background: var(--primary-darker);
    color: white;
    border: 0;
    &:hover:not(:disabled) {
      background: var(--primary);
      color: white;
    }
  }

  &--primary-outline {
    border: 2px solid var(--primary-darker);
    background: transparent !important;
    color: var(--primary-darker);
    &:hover:not([disabled]) {
      text-decoration: underline;
      svg {
        rect {
          fill: white;
        }
        path {
          fill: var(--primary-darker);
        }
      }
    }
  }

  &--white-outline {
    border: 2px solid white !important;
    background: transparent;
    color: white;
    &:hover {
      background-color: var(--primary);
    }
  }
  &--white {
    border: 2px solid transparent !important;
    background: white;
    color: var(--primary-darker);
    &:hover {
      color: white;
      background-color: var(--primary);
    }
  }

  &__group {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      gap: 16px;
    }
    .btn {
      margin: 0;
    }
    &--flushed {
      gap: 0;
    }
    &--gridColumn-two {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  &--inline-wide {
    padding-inline: 24px;
    @media (min-width: 768px) {
      padding-inline: 58px;
    }
  }
  &--full {
    width: 100%;
  }

  &--radioGroup {
    .btn--radio {
      .btn {
        --radius: 6px;
        border-radius: 0;
        padding-inline: 16px;
      }
      &:first-child {
        .btn {
          border-radius: var(--radius) 0 0 var(--radius);
          border-right: 0;
        }
      }
      &:last-child {
        .btn {
          border-radius: 0 var(--radius) var(--radius) 0;
        }
      }
    }
  }

  &--circle {
    --size: 2em;
    width: var(--size);
    height: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #a7aaae;
    border-radius: 50%;
    font-size: 1rem;
    svg {
      width: 0.8em;
      height: 0.8em;
    }
    &:hover {
      background: var(--gray);
    }
  }
}
.btn-check:focus ~ label {
  box-shadow: 0 0 0 0.25rem rgba(61, 15, 88, 0.1);
}

.matrix-block--richMedia {
  .btn__group {
    .btn {
      height: 47px;
      @include media-breakpoint-up(md) {
        height: 64px;
      }
    }
  }
}

.fullWidthContent {
  .matrix-block--richMedia {
    .btn__group {
      .btn {
        height: 47px;
        @include media-breakpoint-up(md) {
          height: 69px;
        }
      }
    }
  }
}
.rich-media--theme-dark-purple,
.rich-media--theme-primary-dark {
  .btn--secondary {
    @extend .btn--white-outline;
  }
  .btn--primary {
    @extend .btn--primary-light;
  }
}

.rich-media--theme-purple-light,
.rich-media--theme-white,
.rich-media--theme-gray {
  .btn--secondary {
    @extend .btn--primary-outline;
  }
  .btn--primary {
    @extend .btn--primary;
  }
}
.matrix-block--buttons {
  .btn--secondary {
    @extend .btn--primary-outline;
  }
  .btn--primary {
    @extend .btn--primary;
  }
}

.matrix-block--textColumn {
  .btn__group {
    .btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 19.36px;
      padding: 14px 24px;
      height: 47px;
      @include media-breakpoint-up(md) {
        padding: 18px 32px;
        height: 69px;
        font-size: 20px;
        line-height: 32px;
      }

      &--primary {
        @include media-breakpoint-up(md) {
          padding-inline: 60.5px;
        }
      }

      &--secondary {
        @extend .btn--primary-outline;
        &:hover {
          color: var(--primary);
          text-decoration: underline;
        }
      }
    }
  }
}

.btn--small {
  padding: 14px 24px;
  height: 47px !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
