/**
 *
 * cards
 * class="cards"
 */

.matrix-block {
  .cards {
    &--count-5 {
      .cards__rows {
        --col: 1;
        display: grid;
        grid-template-columns: repeat(var(--col), 1fr);
        gap: 16px;
        padding: 32px 0 40px 0;
        margin-inline: 20px;
        border-top: 1px solid #dce6e8;
        @media (min-width: 480px) {
          --col: 2;
          padding: 40px 0 96px 0;
          margin-inline: 40px;
        }
        @media (min-width: 768px) {
          --col: 3;
        }
        @media (min-width: 992px) {
          --col: 5;
        }
      }
    }
  }
}
