.matrix-block--columns {
  @extend %matrix-block;
  @extend %matrix-block--section;
  --matrix-block-section-padding-lg: 0 0 0 0;
  --matrix-block-section-padding-sm: 0 0 0 0;
  --matrix-block-section-margin-lg: 40px 0 80px 0;
  --matrix-block-section-margin-sm: 32px 0 48px 0;
  .columns {
    .columns__row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      display: flex;
      flex-wrap: wrap;
      // margin: -1rem;
      @extend .row;
    }

    &__column {
      flex: 1;
      // padding: 16px;
      .matrix-block {
        padding: 0;
        margin: 0;
      }
      @for $i from 1 through 12 {
        &.col-#{$i} {
          flex-shrink: 0;
          flex-basis: calc(100% * #{$i} / 12);
        }
      }

      @media (min-width: 768px) {
        @for $i from 1 through 12 {
          &.col-md-#{$i} {
            flex-basis: calc(100% * #{$i} / 12);
          }
        }
      }

      @media (min-width: 992px) {
        @for $i from 1 through 12 {
          &.col-lg-#{$i} {
            flex-basis: calc(100% * #{$i} / 12);
          }
        }
      }
    }
  }
}
