.event-info {
  &-header {
    margin-block: 48px;
    flex-wrap: wrap;
    @extend .d-flex;
    @extend .gap-2;
    @extend .align-items-center;
    &--border {
      @extend .py-6;
      margin-block: 0;
      border-bottom: 1px solid #dce6e8;
    }

    &-content {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-box {
    background-color: var(--primary-lighter);
    border-radius: 16px;
    margin-block: 32px;
    padding: 24px;
    @include media-breakpoint-up(md) {
      padding: 40px;
      margin-block: 72px;
    }
    .row {
      --bs-gutter-x: 2rem;
    }
  }

  &-content {
    @extend .d-flex;
    flex-direction: column;
    height: 100%;
    &-header {
      @extend .d-flex;
      @extend .align-items-center;
      @extend .gap-3;
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 36px;
    }

    &-description {
      flex-grow: 1;
      margin-top: 24px;
      padding-left: 24px;
      border-left: 1px solid #d3bfe5;
      margin-left: 11px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    a {
      color: var(--primary-darker);
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: var(--primary);
      }
    }
  }
}

.event-detail {
  .event-info-box + .matrix-block--richText {
    padding-block: 0;
    .btn {
      @extend .d-block;
      @extend .text-center;
      margin-top: 32px;
    }
  }
}
