.matrix-block--featured-card-reverse {
  @extend %matrix-block;
  @extend %matrix-block--section;
  --matrix-block-section-padding-lg: 80px 0 80px 0;
  --matrix-block-section-padding-sm: 40px 0 40px 0;

  .component-grid {
    --col: 12;
    --spacer: 40px;
    display: block;
    @media (min-width: 768px) {
      --spacer: 16px;
      display: grid;
    }

    $p: ".component-card";
    #{$p} {
      --col: inherit;
      --spacer: inherit;
      --gap: inherit;
      --card-title-margin-lg: 0 0 24px 0;
      --card-title-margin-sm: 0 0 24px 0;
      // --card-title-margin-lg: 0 0 24px 0;
      --card-text-margin-sm: 0 0 24px 0;
      --card-title-size-lg: 40px;
      --card-title-size-sm: 36px;
      --card-title-lineheight-lg: 44px;
      --card-title-lineheight-sm: 42px;
      --card-title-weight-sm: 600;
      --card-title-weight-lg: 600;
      --card-text-size-sm: 16px;
      --card-text-size-lg: 16px;
      --card-text-lineheight-lg: 24px;
      --card-text-lineheight-sm: 24px;
      --card-title-color: white;
      --card-text-color: white;
      --card-body-padding-lg: 64px;
      --card-body-padding-sm: 32px 0 0 0;
      --card-img-radius: 8px;
      --card-root-radius: 16px;
      --card-root-bg: var(--primary);
      --card-root-padding-lg: 40px;
      --card-root-padding-sm: 24px;
      --card-img-radius: 8px;

      display: flex;
      flex-direction: column;
      grid-column: 1/-1;
      --spacer: 0;
      gap: var(--spacer);

      @media (min-width: 992px) {
        --card-root-bg: var(--primary-darker);
        display: grid;
        grid-template-columns: inherit;
        --spacer: 16px;
      }
    }

    #{$p}__body {
      //   order: 1;
      grid-column: 1/-1;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media (min-width: 992px) {
        grid-column: 8/-1;
      }
    }
    #{$p}__figure {
      //   order: 1;
      grid-column: 1/-1;
      grid-row: 1/2;
      @media (min-width: 992px) {
        grid-column: 1/8;
        padding-right: 0;
      }
    }

    #{$p}__img {
      width: 100%;
      object-fit: cover;
      @media (min-width: 992px) {
        height: 100%;
      }
    }

    .btn {
      background: var(--primary-light);
      color: var(--primary-darker);
      border: 0;
      font-weight: 400;
      // margin-top: 24px;
      @media (min-width: 992px) {
        // margin-top: auto;
      }
      &:hover {
        background: var(--primary);
        color: white;
      }
    }
  }
}
