.form-label {
  display: block;
  line-height: 19px;
}
.form-check-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.form-check-input {
  margin-top: 2px;
  margin-right: 8px;
}
.form-control,
.form-check-input,
.form-select {
  &:is(:focus) {
    box-shadow: 0 0 0 0.25rem rgb(61 15 88 / 10%);
  }
}

.form-fieldset {
  padding: 48px;
  background-color: var(--gray-light);
  border-radius: 16px;
  border: 0;
  margin-bottom: 32px;

  &-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.form-title {
  font-weight: 400 !important;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 32px;
}

.form-check {
  $p: &;

  input[type="checkbox"] {
    &:checked {
      background-color: var(--primary-darker);
    }
  }

  &--box {
    background-color: var(--gray-light);
    padding: 12px;
    border-radius: 4px;
    #{$p}-input {
      margin-left: 0;
    }
  }
  &-wrapper {
    margin-bottom: -0.5rem;
    #{$p} {
      margin-bottom: 0.5rem;
    }
  }
}

.form-jh {
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 8px;
  }
}

.form-check--image {
  @extend .ratio;
  @extend .ratio-1x1;
  border-radius: 4px;
  background-color: gray;
  max-width: 135px;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex: 1;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  label {
    position: absolute;
    inset: 0;
    cursor: pointer;

    .label-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.3s;
      background-color: var(--primary-darker);
      z-index: 1;
      color: white;
      padding: 8px 16px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
  input {
    position: absolute;
    top: 16px;
    left: 16px;
    margin-left: 0 !important;
    z-index: 2;

    &:checked ~ label .label-text {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.upload-picture-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.form-check--uploadFile {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  .form-check {
    background: var(--primary);
    flex: 0 0 auto;
    display: flex;
    padding: 16px;
    position: relative;
    input {
      margin: 0 !important;
    }
    label {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .upload-box {
    background: var(--primary-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
    input {
      max-width: 250px;
      width: 100%;
    }
  }
}
.form-box {
  padding: 1rem;
  background-color: var(--gray-light);
  margin-top: 0;
}
.form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  a {
    color: var(--primary-darker);
    text-decoration: underline;
    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.form-check-columns {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-checkbox {
  padding-block: 8px;
}
.form-select--time {
  max-width: 80px;
}
