.whw-landing {
  .hero:after {
    display: none;
  }
}

.hero {
  &__summary {
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      b {
        font-weight: 700 !important;
      }
      @media (min-width: 992px) {
        margin-top: 24px;
        font-weight: 500 !important;
        font-size: 24px !important;
        line-height: 36px !important;
        b {
          font-weight: 700 !important;
        }
      }
    }
  }
  &:after {
    background-color: var(--primary-darker);
    opacity: 0.63;
  }
}

.event-landing {
  .hero {
    min-height: unset !important;
    height: 300px;
    &__summary {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      display: none;
      @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

.event-detail {
  padding-top: 0 !important;
  .hero-special {
    --headerHeight: 107px;
    @include media-breakpoint-up(md) {
      --headerHeight: 80px;
    }
    @include media-breakpoint-up(lg) {
      --headerHeight: 136px;
    }
    padding-top: var(--headerHeight);
    padding: var(--headerHeight) 0 0 0;
    position: relative;
    display: flex;
    min-height: unset !important;
    height: unset !important;
    background-color: var(--primary-darker);
    @include media-breakpoint-up(lg) {
      padding: 0;
    }
    .container {
      padding-inline: 0rem;
      @include media-breakpoint-up(lg) {
        padding-inline: 2rem;
      }
    }
    @include media-breakpoint-up(lg) {
      min-height: 445px !important;
      padding-inline: 1.5rem;
    }
    &:after {
      display: none;
    }

    .container-fluid,
    .row {
      --bs-gutter-x: 0;
      // height: 100%;
    }
    [class*="col-"] {
      height: 100%;
    }
    img {
      height: 100%;
      width: inherit;
      object-fit: cover;
      position: static;
      // opacity: 0.3;

      @include media-breakpoint-up(lg) {
        // top: unset;
        // opacity: 1;
        position: absolute;
        right: 0;
      }
    }

    .hero__content {
      // margin-left: calc(50vw - calc(1124px / 2 - 24px));

      z-index: 1;
      position: relative;
      padding: 24px 20px;
      @include media-breakpoint-up(lg) {
        padding: 112px 0 76px 0;
        max-width: 414px;
      }
    }

    .hero__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px !important;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 48px !important;
      }
    }

    .hero__summary {
      margin-top: 24px;
      color: #fff;
      @include media-breakpoint-up(lg) {
        margin-top: 32px;
      }
      p {
        color: #fff;
        font-size: 16px !important;
        line-height: 28px !important;
        @include media-breakpoint-up(lg) {
          font-weight: 400 !important;
          font-size: 20px !important;
          line-height: 32px !important;
        }
      }
    }
  }

  .matrix-block--richText .rich-text a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.hero-confirmation {
  position: relative;
  // max-height: 303px;
  overflow: hidden;
  padding-block: 64px;
  @include media-breakpoint-up(md) {
    padding-block: 132px;
  }
  img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  .hero-title {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    @include media-breakpoint-up(md) {
      font-size: 34px;
      line-height: 40px;
    }
  }
}

// this is updated

.whw-landing {
  .hero {
    @media (min-width: 1366px) {
      min-height: 28vw !important;
    }
  }
}

.hero {
  height: auto !important;
  padding: 70px 0 35px !important;
  min-height: 248px !important;

  @include media-breakpoint-up(lg) {
    min-height: 303px !important;
    padding: 109px 0 70px !important;
  }
  &__summary {
    color: #fff;
    margin-top: 24px;
    p {
      line-height: 24px;
    }
  }
  .breadcrumbs {
    margin-top: 0;
    @include media-breakpoint-up(lg) {
      margin-top: 38px;
    }
  }
}
.register-your-event {
  --headerHeight: 80.5px;
  --herogutterY: 70px;
  --fontSize: 24px;
  --lineHeight: 1.17;
  @include media-breakpoint-up(md) {
    --headerHeight: 105px;
    --herogutterY: 131.5px;
    --fontSize: 34px;
  }
  .hero {
    padding-top: var(--headerHeight) !important;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 0 !important;
    min-height: unset !important;
    .breadcrumbs {
      display: none;
    }
    &__container {
      margin-block: var(--herogutterY);
    }
    &__title {
      font-weight: 600;
      font-size: var(--fontSize) !important;
      line-height: var(--lineHeight) !important;
    }
    &__summary {
      display: none;
    }
  }
}
