/**
 *
 * lead text
 * 
 */

.matrix-block--leadText {
  @extend %matrix-block;
  @extend %matrix-block--section;
  --matrix-block-section-margin-lg: 80px 0 80px 0;
  --matrix-block-section-margin-sm: 64px 0 32px 0;
  .lead-text {
    // padding-top: 64px;
    // padding-bottom: 24px;
    // @media (min-width: 992px) {
    //   padding-top: 40px;
    //   padding-bottom: 40px;
    // }
    p,
    b,
    span {
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      margin-bottom: 16px;
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
