/**
 *
 * lead text
 * 
 */

.matrix-block--leadText {
  .lead-text {
    padding-top: 64px;
    padding-bottom: 24px;
    @media (min-width: 992px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    p,
    b,
    span {
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      margin-bottom: 16px;
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
