.matrix-block--theme-gray {
  background-color: #f3f4f6;
}
.matrix-block--theme-white {
  background-color: #fff;
}
.matrix-block--theme-primary-lighter {
  background-color: var(--primary-lighter);
}
.matrix-block--theme-primary {
  --matrix-block-title-color: white;
  background-color: var(--primary-darker);
}
.matrix-block--line {
  margin: 40px 0 40px 0;
}

.matrix-block {
  &--topicsOnThisPage {
    + .matrix-block--richText {
      --matrix-block-section-padding-sm: 0 0 20px 0;
      @media (min-width: 992px) {
        --matrix-block-section-padding-lg: 24px 0 40px 0;
      }
      h3 {
        margin-top: 0;
      }
    }
  }
}
.matrix-block--customHtml {
  padding-bottom: 24px;
  @media (min-width: 992px) {
    padding-bottom: 40px;
  }
}
.matrix-block--buttons {
  padding-bottom: 4px;
  @media (min-width: 992px) {
    padding-bottom: 40px;
  }
}
.matrix-block--columns .columns__column .matrix-block--image {
  @media (min-width: 992px) {
    padding-left: 43px;
  }

  img {
    height: 117px;
    display: block;
    margin-inline: auto;
  }
}
