%matrix-block {
  --matrix-block-header-margin-lg: 0;
  --matrix-block-header-margin-sm: 0;
  --matrix-block-header-padding-lg: 0;
  --matrix-block-header-padding-sm: 0;
  --matrix-block-header-gap-lg: 24px;
  --matrix-block-header-gap-sm: 24px;
    --matrix-block-title-margin-lg: 0;
    --matrix-block-title-margin-sm: 0
    --matrix-block-title-padding-lg: 0;
    --matrix-block-title-padding-sm: 0;
    --matrix-block-title-weight-lg:600;
    --matrix-block-title-weight-sm: 600;
    --matrix-block-title-lineheight-lg: 44px;
    --matrix-block-title-lineheight-sm: 42px;
    --matrix-block-title-size-lg: 40px;
    --matrix-block-title-size-sm: 36px;
    --matrix-block-title-color: var(--text);
    --matrix-block-section-padding-lg:96px 0 96px 0;
    --matrix-block-section-padding-sm:36px 0 36px 0;
    --matrix-block-section-margin-lg:0;
    --matrix-block-section-margin-sm:0;

&__header {
  margin:var(--matrix-block-header-margin-sm);
  padding:var(--matrix-block-header-padding-sm);
  display: flex;
  gap:var( --matrix-block-header-gap-sm);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: 768px) {
    margin:var(--matrix-block-header-margin-lg);
    padding:var(--matrix-block-header-padding-lg);
    gap:var( --matrix-block-header-gap-lg);
  }

}
    &__title {
        font-weight: var(--matrix-block-title-weight-sm);
        font-size: var(--matrix-block-title-size-sm);
        line-height: var(--matrix-block-title-lineheight-sm);
        margin: var(--matrix-block-title-margin-sm);
        padding: var(--matrix-block-title-padding-sm);
        color: var(--matrix-block-title-color);
        @media (min-width: 768px) {
          font-weight: var(--matrix-block-title-weight-lg);
          font-size: var(--matrix-block-title-size-lg);
          line-height: var(--matrix-block-title-lineheight-lg);
          margin: var(--matrix-block-title-margin-lg);
          padding: var(--matrix-block-title-padding-lg);
          color: var(--matrix-block-title-color);
        }
    }

    &--section {
          padding:var(--matrix-block-section-padding-sm);
        @media (min-width:768px){
           padding:var(--matrix-block-section-padding-lg);
   
        }
        margin:var(--matrix-block-section-margin-sm);
        @media (min-width:768px){
           margin:var(--matrix-block-section-margin-lg);
   
        }
       }
 
}

.matrix-block--theme-gray {
  background-color: #F3F4F6 !important;
}
.matrix-block--theme-white {
  background-color: #fff !important;
}
.matrix-block--theme-primary-lighter {
  background-color: var(--primary-lighter);
}
.matrix-block--theme-primary {
  --matrix-block-title-color:white;
  background-color: var(--primary-darker) !important; 

}