.rich-media {
  &__row {
    display: grid;
    grid-gap: 0;
    padding: inherit;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__column {
    .banner__inner-column {
      max-width: 500px;
      padding: 32px 16px;
      @media (min-width: 768px) {
        padding: 0;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--1 {
        order: 1;
        .rich-media__inner-column {
          align-items: end;
          justify-self: end;
          align-self: flex-end;
          max-width: 560px;

          @media (min-width: 768px) {
            padding: 0 64px 0 0;
          }
        }
      }
      &--2 {
        order: 2;
        @media (min-width: 768px) {
          padding: 0 0 0 64px;
        }
      }
    }

    &--media {
      &--1 {
        order: 1;
      }
      &--2 {
        order: 2;
      }
    }
  }
  &__media {
    &__figure {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__text-content {
    &-heading {
      --heading-color: var(--text);
      font-weight: 600;
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 16px;
      color: var(--heading-color);
      @media (min-width: 768px) {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
      }
    }

    &-summary {
      --summary-color: var(--text);
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 32px;
      color: var(--summary-color);
      @media (min-width: 768px) {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }
  }
}
