.matrix-block--dayCards,
.matrix-block--eventDayCards {
  @extend %matrix-block;
  @extend %matrix-block--section;
  --matrix-block-section-margin-lg: 40px 0 96px 0;
  --matrix-block-section-margin-sm: 32px 0 40px 0;
  .component-grid {
    margin-inline: 20px;
    // padding: 32px 0 40px 0;
    padding-top: 32px;
    border-top: 1px solid var(--border);
    --spacer: 40px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    @media (min-width: 768px) {
      --spacer: 16px;
      padding-top: 40px;
      // padding: 40px 0 96px 0;
      margin-inline: 40px;
    }

    $p: ".component-card";
    #{$p} {
      --card-title-margin-lg: 16px 0 16px 0;
      --card-title-margin-sm: 8px 0 4px 0;
      --card-body-padding-lg: 24px 0 0 0;
      --card-body-padding-sm: 16px 0 0 0;
      --card-img-radius: 4px;
      --card-text-color: var(--gray);

      &:hover {
        #{$p}__img {
          transform: scale(1.05);
        }
        #{$p}__title {
          text-decoration: underline;
        }
      }
    }

    #{$p}__figure {
      --aspect-ratio: 4/3;
      aspect-ratio: var(--aspect-ratio);
      position: relative;
      overflow: hidden;
      @supports not (aspect-ratio: 16 / 9) {
        &:before {
          display: block;
          content: "";
          width: 100%;
          padding-bottom: calc(100% / (var(--aspect-ratio)));
        }
      }
    }

    #{$p}__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.3s;
    }

    #{$p}__meta-info--week {
      line-height: 26px;
      color: var(--text);
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    #{$p}__meta-info--date {
      color: var(--text);
      font-weight: 500;
    }
  }
}
