// cards
$card-gutter-width-horizontal: 2.4rem;
$card-gutter-width-row: 5.6rem;
$card-gutter-width-vertical: 1.2rem;
$basic-border-radius: 8px;
$normal-border-radius: 16px;
$big-border-radius: 115px;
// $card-height: 576px;
// $card-spacer-y: ;
// $card-spacer-x ;
// $card-cap-bg: ;
// $card-border-width: ;
// $card-border-color: ;
// $card-inner-border-radius: ;
// $card-inner-border-radius: ;
