%form {
  .freeform-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 2.4rem;

    &--two-column {
      @include media-breakpoint-up(sm) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .freeform-column {
      flex: 1;
      flex-basis: auto;
      padding-inline: 0.6rem;
      &--full {
        grid-column: 1/-1;
      }
      .freeform-errors {
        li {
          color: $error;
        }
      }
    }
  }
  .freeform-column {
    @include media-breakpoint-up(md) {
      // margin-left: 12px;
      // margin-right: 12px;
    }
    // @include fluid-property(
    //   "margin-bottom",
    //   $gap-mobile-small-px,
    //   $gap-mobile-smaller-px
    // );
    h3 {
      margin: 1.6rem 0 0;
    }
  }
  .freeform-label {
    font-size: 1.4rem;
    line-height: 20px;
  }
  .freeform-input {
    border-radius: 4px;
    box-shadow: none !important;
    border: 1px solid $text-color;
    color: $text-color;
    height: 50px;
    padding: 10px 16px;
  }
  textarea.freeform-input {
    height: auto;
    &:focus {
      outline: none;
      box-shadow: 0;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/assets/img/svg/arrow-form.svg");
    background-repeat: no-repeat;
    background-position: 98% center;
  }
  .freeform-alert-success,
  .freeform-form-has-errors {
    background-color: $green;
    color: $white;
    padding: 1.6rem 2.4rem;
    font-weight: 600;
    border-radius: $basic-border-radius;
    margin-bottom: 2.4rem;
  }
  .freeform-form-has-errors {
    background-color: $error;
  }
  .freeform-errors {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    &::before {
      display: inline-block;
      margin-right: 1rem;
      content: "";
      width: 16px;
      height: 16px;
      background: url("/assets/img/svg/ic-warning.svg") left center/cover;
    }
  }
}
